footer {
  background-color: #222;
  color: #FFF;
  padding: 10px;
}
.weare {
  padding-left: 25px;
}
.deliver, .testimonial, .reservation {
  width: 100%;
  height: 300px;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.deliver {
  background-image: url("../images/1.jpg");
}
.testimonial {
  background-image: url("../images/testimonial.jpg");
}
.reservation {
  background-image: url("../images/reservation.jpg");
}
.caption, .transparentButtons {
  background-color: rgba(0, 0, 0, 0.5);
}
.caption {
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
}
.transparentButtons {
  display: inline-block;
  border: solid 2px #FFF;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
}
.homeTitle {
  color: #FFF;
}
.transparentButtons:hover, .home-title:hover {
  text-decoration: none;
  color: #FFF;
}
