body {
  overflow-x: hidden;
}
nav {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}
footer {
  background-color: #222;
  padding: 10px;
  color: #fff;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.we-are {
  padding-left: 25px;
}
.deliver, .testimonial, .reservation, .header-about {
  width: 100%;
  height: 300px;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.deliver {
  background-image: url("../images/1.jpg");
}
.testimonial {
  background-image: url("../images/testimonial.jpg");
}
.reservation {
  background-image: url("../images/reservation.jpg");
}
.header-about {
  background-image: url("../images/header-about-us.jpg");
  background-position: top;
}
.caption, .transparent-button {
  background-color: rgba(0, 0, 0, 0.5);
}
.caption {
  padding: 7px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
}
.transparent-button {
  display: inline-block;
  border: solid 2px #FFF;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
}
.home-title {
  color: #FFF;
}
.transparent-button:hover, .home-title:hover {
  text-decoration: none;
  color: #FFF;
}
.dashed-link {
  border-bottom: dashed 1px #FFF;
  padding: 3px;
  width: 70%;
}
.container-text {
  background-color: #F9F9F9;
  color: #222;
  width: 100%;
  padding: 10px;
  text-align: justify;
  position: relative;
}
.social-networks {
  margin-left: 10px;
}
.social-networks li{
  display: inline-block;
  list-style: none;
  font-size: 2em;
  margin-right: 30px;
  margin-top: 20px;
  transition: all 3s ease;
}

/* Font awesome */
.fa-twitter {
  color: #1DA1F2;
}
.fa-facebook {
  color: #4267B2;
}
.fa-instagram {
  color: #FCAE49;
}
.fa-twitter:hover, .fa-facebook:hover, .fa-instagram:hover {
  -webkit-transition: all 3s ease;
}
/* Media querys */
@media only screen and (min-width: 1114px) {
  .deliver, .testimonial, .reservation {
    height: 400px;
  }
}
