.flex-container{
    max-width:960px;
    width:90%;
    list-style-type:none;
    margin:20px auto;
    padding:0;
    background-color:midnightblue;

    /*Flexbox setup*/
    display: flex;
   flex-flow: row wrap;
  justify-content: space-around;
}
.item{
    height: 200px;
    width: 200px;
    line-height:200px;
    font-size:20px;
    background-color:steelblue;
    color:#fff;
    text-align:center;
    margin:5px 2px;
}
#item1{
	flex-flow: row wrap;
    background-image: url(imagenes/huevos.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;


}
#item2{
  background-image: url(imagenes/cena.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;

}
#item3{
  background-image: url(imagenes/batidos.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
#item4{
  background-image: url(imagenes/bebida.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
#item5{
  background-image: url(imagenes/postre.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
#item6{  
  text-align: center;
  background-size: cover;
}
#item1,
#item2,
#item3,
#item4,
#item5 
#item6{
	flex-flow: row wrap;
	width: 300px;
}

#caption {
    caption-side: bottom;
}
#main-header {
    background: #333;
    color: white;
    height: 80px;
}   
    #main-header a {
        color: white;
    }
 
/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #0b76a6;
    }
    
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    
    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }
    
 
/*
 * Navegación del header
 */
nav {
    float: right;
}
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
    }
    
        nav ul li {
            display: inline-block;
            line-height: 80px;
        }
            
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }
            
                nav ul li a:hover {
                    background: #0b76a6;
                }

 /*
 * menu del footer
 */               
#main-footer{
    background: #333;
    color: white;
    height: 100px; 
}
 #main-footer a {
        color: white;
    }
.foot{
    color: ;
}